In [31]:
s = "Hello"
print(id(s))
s = s + "There"
print(id(s))
s = s + "Now"
print(id(s))
s = s + "Here"
print(id(s))
# note that the id mostly changes but it may not change , the python interpreter may try to optimize
# so that it fits in more data at the same reference, 
# basically we cant expect(trust) the id to be the same

139725207596336
139724907669552
139724907669552
139724889264896

# join function :
## thus we can pass list or tuple as the argument to the join function
## basically the argument has to be a collection of strings
# the join function returns a string
# all the elements of lis1 and tup1 need to be strings or else there would be an error

In [17]:
colors = " :1: ".join(['red', 'blue', 'green'])
print(colors)
colors2 = " :2: ".join(('red', 'blue', 'green'))
print(colors2)

lis1 = ['red', 'blue', 'green']

tup1 = ('red', 'blue', 'green')

colors3 = " :3: ".join(lis1)
colors4 = " :4: ".join(tup1)
print(colors3)
print(colors4)

print(type(colors))
print(type(colors2))
print(type(colors3))
print(type(colors4))

red :1: blue :1: green
red :2: blue :2: green
red :3: blue :3: green
red :4: blue :4: green
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [18]:
test1 = ["hello", "there", 95]

say = ":".join(test1)

TypeError: sequence item 2: expected str instance, int found

# split function :
## it is used to split the strings 
## if we dont pass any arguments to it then it will split on the basis of the white space 
## splitting is done on the basis of the string we pass it

In [12]:
colors = "red blue green 95 93"
print(colors.split())

colors2 = "red :2: blue :2: green"

print(colors.split(":"))
print(colors2.split(":"))
print(colors2.split(":2:"))

breakfast = "BeansandSproutsandCurdandBread"
print(breakfast.split("and"))

breakfast2 = "Beans_Sprouts_Curd_Bread"
print(breakfast2.split("_"))

['red', 'blue', 'green', '95', '93']
['red blue green 95 93']
['red ', '2', ' blue ', '2', ' green']
['red ', ' blue ', ' green']
['Beans', 'Sprouts', 'Curd', 'Bread']
['Beans', 'Sprouts', 'Curd', 'Bread']

# Partition function ()
## divides a string into three sections: the part before a separator, the separator itself, and the part after the separator:
## returns a tuple
##  commonly used in conjunction with tuple unpacking:

In [27]:
string = "HelloThereAditya"
print(string.partition("There"))

college, seperator, college_name = "Enginerring:KJSCE".partition("::")
print(college)
print(seperator)
print(college_name)
print(type(college))
print(type(seperator))
print(type(college_name))

('Hello', 'There', 'Aditya')
Enginerring:KJSCE


<class 'str'>
<class 'str'>
<class 'str'>

In [30]:
college, seperator, college_name = "Enginerring::KJSCE".partition("::")
print(college)
print(seperator)
print(college_name)

print(type(college))
print(type(seperator))
print(type(college_name))

# naming convention : use _ instead of seperator if seperator is unused or dummy

Enginerring
::
KJSCE
<class 'str'>
<class 'str'>
<class 'str'>

## if the string on the basis of which the partition is to be performed is not found then there is only 1 element in the tuple returned and that element is the string which was passed itself